{{extend 'layout.html'}}
<h2>Admin interface</h2>
<hr>
<div class="row">
	<div class="col-md-12">
		<div class="panel">
		<a class="btn btn-success" href="{{=URL('default','admin/auth_user')}}">Users</a>
		<a class="btn btn-success" href="{{=URL('default','admin/interests')}}">Interests</a>
		<a class="btn btn-success" href="{{=URL('default','admin/spams')}}">Spams Table</a>
		</div>
	</div>
</div>
{{ if user_table :}}
<h3>Users</h3>
<hr>
{{=user_table}}
{{pass}}
{{ if interests_table :}}
<h3>Interests</h3>
<hr>
{{=interests_table}}
{{pass}}
{{ if spams_table :}}
<h3>Spam Table</h3>
<hr>
{{=spams_table}}
{{pass}}
