{{extend 'layout.html'}}
<div class="jumbotron">
  <h1>Hello, {{=userName}}</h1>
  <p>You Might like..</p>
  </div>


<div class="row">
	{{for row in rows:}}
  <a href="{{=URL('default','freeProfile',args=[row.id])}}"><div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="/iConnect/default/download/{{=row.pic}}" alt="...">
      <div class="caption">
        <h3>{{=row.first_name}} {{=row.last_name}}</h3>
        <p>{{=row.religion}},{{=row.caste}}</p>
        <p>{{=row.city}}
        </div>
    </div>
  </div>
</a>
  {{pass}}
</div>


