{{extend 'layout.html'}}
<style>
body  {
    background-image: url('{{=URL('static','images/back.jpg')}}');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>
	

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h1 style="font-family:cursive;text-align:center;color:black;font-size:70px;"><strong>iConnect</strong></h1>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-xs-4 col-md-offset-5">
		<div>
			<a href="user/login" class="btn btn-default">Login</a>
			<a href="user/register" class="btn btn-default">Register</a>
		</div>
	</div>
</div>


