{{extend 'layout.html'}}
<ol class="breadcrumb">
  <li><a href="{{=URL('default','homeFree')}}">Home</a></li>
  <li class="active">Payment Page</li>
</ol>
<div class="page-header">
  <h1>Make Payment <small>to switch to premium</small></h1>
</div>
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in rupees)</label>
    <div class="input-group">
      <div class="input-group-addon">Rs</div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <a href="{{=URL('default','goPremium')}}" type="submit" class="btn btn-success">Transfer cash</a>
</form>