{{extend 'layout.html'}}
<ol class="breadcrumb">
  <li><a href="{{=URL('default','homeFree')}}">Home</a></li>
  <li class="active">{{=userInfo[0].first_name}} {{=userInfo[0].last_name}}'s Profile</li>
</ol>

<div class="page-header">
  <h1>{{=userInfo[0].first_name}} {{=userInfo[0].last_name}} </h1>
</div>

<div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="/iConnect/default/download/{{=userInfo[0].pic}}" alt="...">
    </a>

    <div>
      <div class="center">
        <p>
          <button onclick="ajax('{{=URL('default','onLike',args=[userInfo[0].id])}}',[],'likeCount')" type="button" class="btn btn-success"><div id="likeCount" class="glyphicon glyphicon-heart"></button>
          <button onclick="ajax('{{=URL('default','onSpam',args=[userInfo[0].id])}}',[],'spamCount')" type="button" class="btn btn-warning"><div id="spamCount" class="glyphicon glyphicon-ban-circle"></button>
        </p>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><div class="glyphicon glyphicon-phone"></div> Contact</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item"><div class="glyphicon glyphicon-pushpin"></div> {{ =userInfo[0].email}}</li>
            <li class="list-group-item"><div class="glyphicon glyphicon-pushpin"></div> {{=userInfo[0].phoneNo}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><div class="glyphicon glyphicon-eye-open"></div> Personality</h3>

        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item"><div class="glyphicon glyphicon-option-vertical"></div> Height:  {{=userInfo[0].height}}</li>
            <li class="list-group-item"><div class="glyphicon glyphicon-option-vertical"></div> Body Type :  {{=userInfo[0].bodyType}}</li>
            <li class="list-group-item"><div class="glyphicon glyphicon-option-vertical"></div> Skin Tone :  {{=userInfo[0].skinTone}}</li>
            <li class="list-group-item"><div class="glyphicon glyphicon-option-vertical"></div> Smoking :  {{=userInfo[0].smoke}}</li>
            <li class="list-group-item"><div class="glyphicon glyphicon-option-vertical"></div> Drinking :  {{=userInfo[0].drink}}</li>
            <li class="list-group-item"><div class="glyphicon glyphicon-option-vertical"></div> Diet :  {{=userInfo[0].diet}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><div class="glyphicon glyphicon-envelope"></div> Mail</h3>

        </div>
        <div class="panel-body">
          
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9">
  	<div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><div class="glyphicon glyphicon-list-alt"></div> Basic Info</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"><div class="glyphicon glyphicon-hand-right"></div> Age :  {{=userInfo[0].age}}</li>  	
          <li class="list-group-item"><div class="glyphicon glyphicon-hand-right"></div> Mother Tongue :  {{=userInfo[0].motherTongue}}</li>
          <li class="list-group-item"><div class="glyphicon glyphicon-hand-right"></div> Religion :  {{=userInfo[0].religion}}</li>
          <li class="list-group-item"><div class="glyphicon glyphicon-hand-right"></div> Caste :  {{=userInfo[0].caste}}</li>
          <li class="list-group-item"><div class="glyphicon glyphicon-hand-right"></div> City :  {{=userInfo[0].city}}</li>
          <li class="list-group-item"><div class="glyphicon glyphicon-hand-right"></div> Country :  {{=userInfo[0].country}}</li>
        </ul>
      </div>
    </div>
  </div>

  {{if userInfo[0].premium=='1':}}
  <div class="col-md-9">
    <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><div class="glyphicon glyphicon-heart-empty"></div> Interests</h3>
        </div>
      <div class="row">
        <div class="col-md-3">
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item"> South Indian {{if userIntr.SouthIndian=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.SouthIndian=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
              <li class="list-group-item"> Chinese {{if userIntr.Chinese=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.Chinese=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
              <li class="list-group-item"> Continental {{if userIntr.Continental=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.Continental=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
              <li class="list-group-item"> Italian {{if userIntr.Italian=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.Italian=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
            </ul>
          </div>
        </div>
      
        <div class="col-md-3">
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item"> Reading {{if userIntr.Reading=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.Reading=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
              <li class="list-group-item"> Travelling {{if userIntr.Travelling=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.Travelling=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
              <li class="list-group-item"> Movies {{if userIntr.Movies=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.Movies=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
              <li class="list-group-item"> Music {{if userIntr.Music=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.Movies=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item"> Running {{if userIntr.Running=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.Running=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
              <li class="list-group-item"> Swimming {{if userIntr.Swimming=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.Swimming=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
              <li class="list-group-item"> Badminton {{if userIntr.Badminton=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.Badminton=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
              <li class="list-group-item"> Workout {{if userIntr.WorkOut=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.WorkOut=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item"> Singing {{if userIntr.Singing=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.Singing=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
              <li class="list-group-item"> Dancing {{if userIntr.Dancing=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.Dancing=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
              <li class="list-group-item"> Painting {{if userIntr.Painting=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.Painting=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
              <li class="list-group-item"> Photography {{if userIntr.Photography=='Yes':}} <div class="glyphicon glyphicon-thumbs-up pull-right"></div>{{pass}} {{if userIntr.Photography=='No':}} <div class="glyphicon glyphicon-thumbs-down pull-right"></div>{{pass}} </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  {{pass}}
</div>
